<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">

        <form action="/">
            <button type="submit" class="navbar-brand" href="#">Strona główna</button>
        </form>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">
                        <form action="/basic">
                            <button type="submit" class="btn btn-info">Poziom podstawowy</button>
                        </form>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">
                        <form action="/master">
                            <button type="submit" class="btn btn-warning">Poziom zaawansowany</button>
                        </form>
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Ranking
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Top 10 - Poziom 1</a></li>
                        <li><a class="dropdown-item" href="#">Top 10 - Poziom 2</a></li>
                    </ul>
                </li>
            </ul>
            <span sec:authorize="not isAuthenticated()">
                <p class="nav-item">
                <form class="d-flex" action="/login">
                    <button class="btn btn-outline-success" type="submit">Zaloguj się</button>
                </form>
                </p>
                <p class="nav-item">
                <form class="d-flex" action="/registration">
                    <button class="btn btn-outline-success" type="submit">Zarejestruj się</button>
                </form>
                </p>
            </span>

            <span sec:authorize="isAuthenticated()">
                <p class="nav-item">
                    <span sec:authentication="name"/>
                </p>
                <p class="nav-item">
                <form action="/logout">
                    <button class="btn btn-outline-success" type="submit">Wyloguj</button>
                </form>
                </p>
            </span>
        </div>
    </div>
</nav>
</body>
</html>